<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blackybear.web.common.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="City">
        <id column="city_id" jdbcType="SMALLINT" property="cityId"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="country_id" jdbcType="SMALLINT" property="countryId"/>
        <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="short" resultMap="BaseResultMap">
        select city_id, city, country_id, last_update
        from city
        where city_id = #{cityId,jdbcType=SMALLINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="short">
        delete from city where city_id = #{cityId,jdbcType=SMALLINT}
    </delete>
    <insert id="insert" parameterType="City" keyProperty="cityId">
        insert into city (city, country_id,last_update)
        values (#{city,jdbcType=VARCHAR},
                #{countryId,jdbcType=SMALLINT},
                #{lastUpdate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="City" keyProperty="cityId">
        insert into city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="city != null">
                city,
            </if>
            <if test="countryId != null">
                country_id,
            </if>
            <if test="lastUpdate != null">
                last_update,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="city != null">
                #{city,jdbcType=VARCHAR},
            </if>
            <if test="countryId != null">
                #{countryId,jdbcType=SMALLINT},
            </if>
            <if test="lastUpdate != null">
                #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="City">
        update city
        <set>
            <if test="city != null">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="countryId != null">
                country_id = #{countryId,jdbcType=SMALLINT},
            </if>
            <if test="lastUpdate != null">
                last_update = #{lastUpdate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where city_id = #{cityId,jdbcType=SMALLINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="City">
        update city
        set city = #{city,jdbcType=VARCHAR},
          country_id = #{countryId,jdbcType=SMALLINT},
          last_update = #{lastUpdate,jdbcType=TIMESTAMP}
        where city_id = #{cityId,jdbcType=SMALLINT}
  </update>
</mapper>