<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-4.3.xsd
    	http://www.springframework.org/schema/mvc
    	http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!--*************************** 静态资源映射配置  ***************************-->
    <!--静态资源映射, 访问的静态资源不包括在配置中时，使用default-servlet-handler配置来访问-->
    <mvc:resources mapping="/image/**" location="/image/" />
    <mvc:resources mapping="/fonts/**" location="/fonts/" />
    <mvc:resources mapping="/css/**" location="/css/" />
    <mvc:resources mapping="/js/**" location="/js/" />
    <mvc:resources mapping="/third/**" location="/third/" />
    <mvc:default-servlet-handler/>

    <!-- *************************** 加载Controller *************************** -->
    <context:component-scan base-package="com.blackybear.web.controller" />

    <!-- *************************** 拦截器配置 ***************************-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*" />
            <bean class="com.blackybear.web.interceptor.BaseInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- *************************** 数据转换器，验证器，内容协商管理器配置  *************************** -->
    <mvc:annotation-driven
            conversion-service="conversionservice"
            validator="validator"
            content-negotiation-manager="contentNegotiationManager">
        <!--消息转换器-->
        <mvc:message-converters>
            <!--Fastjson 消息转换器-->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter4">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 数据转换器配置 -->
    <bean id="conversionservice" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
            </set>
        </property>
    </bean>

    <!-- 数据验证器配置 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
        <property name="validationMessageSource" ref="messageSource" />
    </bean>
    <!-- 数据验证提示信息国际化配置 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="defaultEncoding" value="UTF-8" />
        <property name="fileEncodings" value="UTF-8"/>
        <property name="cacheSeconds" value="120"/>
        <property name="basenames" >
            <list>
                <value>WEB-INF/classes/validation/ValidationMessages</value>
            </list>
        </property>
    </bean>

    <!-- 内容协商管理器 -->
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="defaultContentType" value="text/html" />
        <property name="ignoreAcceptHeader" value = "false" />
        <property name="favorParameter" value = "true" />
        <property name="favorPathExtension" value = "true" />
        <!--扩展名映射-->
        <property name="mediaTypes">
            <map>
                <entry key="json" value="application/json" />
                <entry key="xml" value="application/xml" />
                <entry key="html" value="text/html"/>
            </map>
        </property>
    </bean>

    <!--内容协定视图解析器-->
    <bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager" ref="contentNegotiationManager"/>
        <property name="viewResolvers">
            <list>
                <!-- BeanName 视图解析器 -->
                <bean class ="org.springframework.web.servlet.view.BeanNameViewResolver"/>
                <!-- JSP 视图解析器 -->
                <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
                    <property name="prefix" value="/WEB-INF/jsp/" />
                    <property name="suffix" value=".jsp" />
                </bean>
            </list>
        </property>
        <property name="defaultViews">
            <list>
                <!--Fastjson视图-->
                <bean class="com.alibaba.fastjson.support.spring.FastJsonJsonView"/>
            </list>
        </property>
    </bean>

    <!-- *************************** 文件上传 *************************** -->
    <bean id="multipartResolver"   class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10MB -->
        <property name="maxUploadSize">
            <value>1048576000</value>
        </property>
        <property name="maxInMemorySize">
            <value>1024</value>
        </property>
    </bean>
</beans>